#form-container {
    display: flex;
    justify-content: left;
    align-items: top;
    gap: 50px;
    
}

#form-container #starter {
    width: 18em;
}

#form-container #title {
    width: 18em;
}

#form-container #welcome {
    width: 18em;
}